=breadcrumb_tag do
  %li.active
    = t('headers.hospital_stay_lists.new')
  %li
    = link_to 'Полный Список', hospital_stay_lists_path
  %li
    Амбулаторные карты

.page-header
  %h1= t('headers.hospital_stay_lists.new')

= render 'form'
